page-home {
    .summary {
        background-color: color($colors, primary);
        color: white;
        font-weight: bold;
        text-align: center;
        p {
            margin: 8px 0 8px 0;
        }
    }
}