page-home {
    .text-center {
        text-align: center;
    }

    .summary {
        background-color: color($colors, primary);
        color: white;
        font-weight: bold;
        
        p {
            margin: 8px 0 8px 0;
        }
        
    }

   
}
