/* File to redifine styles of main.css*/
/*
.tabs-md .tabbar {
    background: #00796B;
  }

  .tabs-md .tab-button {
    color: white;
  }

  .tabs-md .tab-button[aria-selected=true] {
    color: #004D40;
  }

  .tabs-md .tab-button-icon {
    color: white;
  }

  .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #004D40;
  }*/